<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>初回登録フォーム</title>
</head>
<body>
<h1>初回登録フォーム</h1>
<form action="/insert" method="POST">
    名前　： <input type="text" name="name"><br>
    メール： <input type="text" name="email"><br>
    <button type="submit">送信</button>
</form>
<form action="/" method="GET">
    <button type="submit">戻る</button>
</form> 
</body>
</html>